<aside class="main-sidebar">
	<section class="sidebar">
		<div class="user-panel">
			<div class="pull-left image">
				<img src="https://github.com/Genuine-Identity.png" class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<p><a href="https://www.linkedin.com/in/genuine-identity/" target="_blank">Girish Nandgawe</a></p>
				<a href="https://www.linkedin.com/in/genuine-identity/" target="_blank"><i class="fa fa-circle text-success"></i>Online</a>
        </div>
      </div>
        <form action="#" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                  </button>
                </span>
          </div>
        </form>       
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>              
          <li class="treeview" [routerLinkActive]="'active'">
          <a style="cursor:pointer">
            <i class="fa fa-laptop"></i>
            <span>Creational</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">          
            <li [routerLinkActive]="'active'">
              <a [routerLink]="'/creational-patterns/singleton'"><i class="fa fa-edit"></i>Singleton</a>
            </li>     
             <li [routerLinkActive]="'active'">
              <a [routerLink]="'/creational-patterns/abstract-factory'"><i class="fa fa-edit"></i>Abstract Factory</a>
            </li>     
             <li [routerLinkActive]="'active'">
              <a [routerLink]="'/creational-patterns/factory'"><i class="fa fa-edit"></i>Factory</a>
            </li>     
             <li [routerLinkActive]="'active'">
              <a [routerLink]="'/creational-patterns/builder'"><i class="fa fa-edit"></i>Builder</a>
            </li>  
            <li [routerLinkActive]="'active'">
              <a [routerLink]="'/creational-patterns/prototype'"><i class="fa fa-edit"></i>Prototype</a>
            </li>               
          </ul>
        </li> 
        <li class="treeview" [routerLinkActive]="'active'" >
          <a style="cursor:pointer">
            <i class="fa fa-dashboard"></i>
            <span>Structural Patterns</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li [routerLinkActive]="'active'">
              <a [routerLink]="'/admin/user'"><i class="fa fa-edit"></i>Adapter</a>
            </li>     
             <li [routerLinkActive]="'active'">
              <a [routerLink]="'/admin/user'"><i class="fa fa-edit"></i>Bridge</a>
            </li>     
             <li [routerLinkActive]="'active'">
              <a [routerLink]="'/admin/user'"><i class="fa fa-edit"></i>Composite</a>
            </li>     
             <li [routerLinkActive]="'active'">
              <a [routerLink]="'/admin/user'"><i class="fa fa-edit"></i>Decorator</a>
            </li>  
            <li [routerLinkActive]="'active'">
              <a [routerLink]="'/structural-patterns/facade'"><i class="fa fa-edit"></i>Facade</a>
            </li> 
            <li [routerLinkActive]="'active'">
              <a [routerLink]="'/admin/user'"><i class="fa fa-edit"></i>Flyweight</a>
            </li> 
            <li [routerLinkActive]="'active'">
              <a [routerLink]="'/admin/user'"><i class="fa fa-edit"></i>Proxy</a>
            </li> 
          </ul>
        </li>  
        <li class="treeview" [routerLinkActive]="'active'" >
          <a style="cursor:pointer">
            <i class="fa fa-dashboard"></i>
            <span>Behavioral Patterns</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li [routerLinkActive]="'active'">
              <a [routerLink]="'/admin/user'"><i class="fa fa-edit"></i>Chain of Responsibility</a>
            </li>     
             <li [routerLinkActive]="'active'">
              <a [routerLink]="'/admin/user'"><i class="fa fa-edit"></i>Command</a>
            </li>     
             <li [routerLinkActive]="'active'">
              <a [routerLink]="'/admin/user'"><i class="fa fa-edit"></i>Interpreter</a>
            </li>     
             <li [routerLinkActive]="'active'">
              <a [routerLink]="'/admin/user'"><i class="fa fa-edit"></i>Iterator</a>
            </li>  
            <li [routerLinkActive]="'active'">
              <a [routerLink]="'/admin/user'"><i class="fa fa-edit"></i>Mediator</a>
            </li> 
            <li [routerLinkActive]="'active'">
              <a [routerLink]="'/admin/user'"><i class="fa fa-edit"></i>Memento</a>
            </li> 
            <li [routerLinkActive]="'active'">
              <a [routerLink]="'/admin/user'"><i class="fa fa-edit"></i>Observer</a>
            </li> 
            <li [routerLinkActive]="'active'">
              <a [routerLink]="'/admin/user'"><i class="fa fa-edit"></i>State</a>
            </li> 
             <li [routerLinkActive]="'active'">
              <a [routerLink]="'/admin/user'"><i class="fa fa-edit"></i>Strategy</a>
            </li> 
            <li [routerLinkActive]="'active'">
              <a [routerLink]="'/admin/user'"><i class="fa fa-edit"></i>Template</a>
            </li>
            <li [routerLinkActive]="'active'">
              <a [routerLink]="'/admin/user'"><i class="fa fa-edit"></i>Visitor</a>
            </li>
          </ul>
        </li>     
      </ul>
    </section>
</aside>